body{
	background-color: #aee1f9;
	background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
	background-attachment: fixed;
	padding-top: 8em;
}

#info{
	font-size: 4em;
	font-weight: bold;
	color: #4d4d4d;
	background-color: #fff1;
}

#verse{
	font-size: 5em;
	font-weight: bold;
	color: #2e5984;
	text-align: justify;
}

#title_mask{
	height: 10em;
	z-index: 3;
	-webkit-mask: linear-gradient(180deg, #ffffff 70%, #ffffff00 100%);
	backdrop-filter: blur(2px);
}

#title_background{
	height: 10em;
	z-index: 4;
	background-image: linear-gradient(180deg, #ffffffdd 0%, #ffffffaa 60%, #ffffff00 100%);
}

#footer_toolbar{
	background-image: linear-gradient(0deg, #ffffffaa 0%, #ffffff00 100%);
}